body{
    background-color: rgb(227, 99, 141)
}

form {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    position:relative;
    background-color: #f7c614;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fbe07f;
   
  }
  